body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #ffeee3;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}

.gridSection {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animals h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animals h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animals p {
  font-family: Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animalsList {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
  cursor: pointer;
}

.animalsList::-webkit-scrollbar {
  width: 15px;
}

.animalsList::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #f4e3bb;
  border-right: 4px solid #f4e3bb;
}

.animalsList::-webkit-scrollbar-track {
  background: #f4e3bb;
}

.animalsDescription {
  grid-column: 3;
}

.animalsDescription section {
  margin-bottom: 3rem;
}

.faqlist {
  grid-column: 2 / 4;
}

.faqlist dt {
  font-family: monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faqlist dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faqlist dd {
  font-family: helvetica;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.map {
  grid-column: 2;
}

.data {
  grid-column: 3;
}

.data li {
  margin-bottom: 1rem;
  font-family: helvetica;
}

.data li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu,
  .gridSection,
  .copy {
    grid-column: 1;
  }

  .gridSection {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }

  .animalsList {
    grid-column: 1;
  }
  .faqlist,
  .data,
  .map {
    grid-column: 1/3;
  }

  .gridSection h1 {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0px;
  }

  .footer {
    margin-bottom: 0px;
  }
}

.js .js-tabContent section  {
  display: none;
}

 .js-tabContent section.ativo {
  display: block;
  animation: show .5s forwards;
}

@keyframes show{
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0 , 0 , 0);
  }
}

.js .js-accordion dd  {
  display: none;
}

 .js-accordion dd.ativo {
  display: block;
  padding-top: 0.5rem;
  animation: slideDown .5s forwards;
}

.js .js-accordion dt::after  {
  content: "\2935";
  margin-left: 0.5rem;

}
.js .js-accordion dt.ativo::after  {
  content: "\2934";
}

@keyframes slideDown{
  from{
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    max-height: 300px;
    transform: translateY(0px);
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js .js-scroll.ativo{
  opacity: 1;

  transform: translate3d(0, 0, 0);
}